@media (max-width: 600px) {
    #img01, #img02 {
        width: 100vw;
        height: auto;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    section {
        padding: 10px;
    }

    section#img01 {
        overflow: hidden;
    }

    section#img02 {
        overflow: hidden;
    }

    header {
        overflow: hidden;
    }
}